:root{
  --color-bg1: black;
  --color-text1: white;
  --color-text2: rgba(222, 19, 30, 1);
	--color-plsce: rgb(245, 65, 74);
  
  font-size: 62.5%;
  font-weight: 700;
	font-family: 'Nunito', sans-serif; 
	color: var(--color-text1);
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

body{
	background-image: url("../img/mbBackground.png");
	background-color: var(--color-bg1);
	background-repeat : no-repeat;
	background-size : 100%;
}

.sec1h1{
	margin-top: 2rem;
}

p{
	margin: 0;
}

.p01{
	font-size: 2.4rem;
	line-height: 2.1;
}

.p02{
	color: var(--color-text2);
	font-size: 4.8rem;
	line-height: 1.08;
}

.p03{
	margin-left: 2.9rem;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.4;
}

.section1{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.sec1bt{
	font-size: 2rem;
	line-height: 1.05;
	background-color: var(--color-text2);
	border: 0;
	border-radius: 10px;
	color: var( --color-text1);
	padding: 0.86em 1.8em;
	margin: 3.1rem auto;
	margin-bottom: 10px;
}

.sec1{
	display: flex;
	flex-direction: column;
}

.sec1pic2{
	margin: 0 auto;
	margin-top: 7.3rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.2rem;
  margin-top: 2.7rem;
	margin-bottom: 19.4rem;
}

.versionPc{
	display: none;
}

.navul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 85px;
}

a{
	text-decoration: none;
	color: var(--color-text1);
}

li{
	margin-right: 60px;
	list-style: none;
  text-align: center;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2.1;
}

.linav{
	margin-right: 0;
}


.headerbt2, .headerbt1{
	background: none;
	border: none;
}

.p04{
	font-size: 1.4rem;
}

label{
	font-size: 1.4rem;
}

.sec2h1{
	font-size: 2rem;
}

form input[type=text], input[type=tel]{
  background-color: var(--color-plsce);
  display: block; 
  min-height: 5rem;
  border: 0;
  border-radius: 1rem;
  padding: 0 6em;
	padding-left: 1em;
  margin: 1.5rem; 
}

::placeholder {
  color: var(--color-bg1);
	font-size: 1.4rem;
}



@media (min-width: 800px){
	body{
		background-image: url("../img/pcBackground.png");
	}

	.versionPc{
		display: block;
	}

	.headersocial{
		display: none;
	}

	.headerpic{
		width: 204px;
		height: 59.28px;
	}

	.sec1{
		flex-direction: row;
    align-items: flex-end;
	}
	.header{
		margin-bottom: 30.5rem;
	}

}

@media (min-width: 1150px){
	body{
		background-image: url("../img/pcBackground.png");
	}

	.versionPc{
		display: block;
	}

	.headersocial{
		display: none;
	}

	.headerpic{
		width: 204px;
		height: 59.28px;
	}

	.sec1{
		flex-direction: row;
    align-items: flex-end;
	}

	.header{
		margin-bottom: 50.5rem;
	}

	.p04{
		font-size: 2rem;
	}
	
	label{
		font-size: 2rem;
	}
	
	.sec2h1{
		font-size: 4rem;
	}

	::placeholder {
		font-size: 2rem;
	}

}